<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register User</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h2>Register</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="/register">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="password" name="password" placeholder="Enter Password">
        <button type="submit">Register</button>
    </form>
  </body>
</html>